/vendor
/node_modules
/public/storage
/public/server.ini
Homestead.yaml
Homestead.json
.env
server.ini
/.idea
/storage/images
/storage/fastag
/storage/fastage
/storage/fastag_engine
/storage/app
/storage/framework
/storage/logs
/config/app.php
/config/fastag.php
/public/download
rupee.png
/public/img/rupee.png
/public/paytm_lib/log
/public/report_log
/public/payway_lib/log
/public/background_process_log
/public/stickermembership_CronJob_log
public/paytm_lib/paytm.ini
/public/mobile_log/*
